      @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    *{
margin:0;
padding:0;
border:0;
}
body{background-color: #150153;}
header{
    padding: 32px;
    border-bottom: 1px solid #0e03ad;
    background-color: #090025;
}
header div {
    text-align: center;
}
header div a {
    color: #4400DB;
    font-size: 20px;
    line-height:30px;
    margin: 0 48px;
    text-decoration: none;
    font-family: "Press Start 2P", system-ui;
}
header div a:hover {
    color: #6d3fcf;
    transition: 700ms;
}
#box {
    text-align: center;
    padding: 32px;
}
#box img{
    border-radius: 50%;
    border: 5px solid #4400DB;
    margin-bottom: 32px;
}
#box h1 {
    font-size: 20px;
    line-height: 52px;
    font-weight: bold;
    color: rgb(208, 184, 245);
    font-family: "Press Start 2P", system-ui;
}
#box h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
    color: rgb(208, 184, 245);
}
#box p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 28px;
    line-height: 32px;
    color: rgb(208, 184, 245);
}

.link a {

}